@font-face {
  font-family: Rage;
  font-weight: 500;
  font-style: normal;
  src: 
    url(./rage.woff) format("woff"),
    url(./rage.ttf) format("truetype"),
    url(./rage.otf) format("opentype");
}
@font-face {
  font-family: Troika;
  font-weight: 500;
  font-style: normal;
  src: 
    url(./troika.woff) format("woff"),
    url(./troika.ttf) format("truetype"),
    url(./troika.otf) format("opentype");
}