@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 500;
  src: url("./fonts/OpenSans-Medium.woff2") format("woff2");
}

* {
  user-select: none;
}

body {
  --color-back: #ebe5d0;
  --color-back-second: #f3f1db;
  --color-gray-100: rgba(94, 84, 70, 0.22);
  --color-gray-200: #6a6a6a;
  --color-black-100: #1d1d1d;
  --color-blue-100: #3567c9;
  --color-luck: #0cb70c;
  --color-unluck: #ff3e3e;

  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  height: 100svh;

  background-color: var(--color-back);
  color: var(--color-black-100);
}

button {
  border: none;
  padding: 0;
  outline: none;
  background: none;
  display: block;
  line-height: 1;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

[role="button"] {
  cursor: pointer;
}

span,
p {
  margin: 0;
  line-height: 1;
}

img {
  width: 100%;
  display: block;
}

._unluck {
  color: var(--color-unluck);
}
._luck {
  color: var(--color-luck);
}

.main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.ban-interface {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 10;
}
.ban-interface._disabled {
  pointer-events: all;
}

.result__wrapper {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px dashed var(--color-gray-100);
}

.result {
  font-size: 100px;
  word-spacing: 1;
}
.result._empty::before {
  content: "{результат}";
}

.result__sum {
  font-size: 14px;
  font-style: italic;
  color: var(--color-gray-200);
  margin: 0 10px;
  text-align: center;
}

.dices {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 15px;
  border-bottom: 1px dashed var(--color-gray-100);
}

.dices._empty {
  flex-direction: column;
  pointer-events: none;
}
.dices._empty::before {
  content: "{кубики}";
}

.dice {
  max-width: 270px;
  aspect-ratio: 1;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}
.dices._medium .dice {
  flex-grow: 0;
  flex-basis: 23%;
}
.dices._small .dice {
  flex-basis: 15%;
}

/* .dice__result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--color-black-100);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--color-back);
  box-shadow: 0 0 10px 0 var(--color-back);
} */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dice-tower {
  padding: 5px 10px;
  margin: 10px;
  background-color: var(--color-gray-100);
  border-radius: 5px;
  font-size: 16px;
  font-style: italic;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  pointer-events: all;
}

.dice-tower._empty {
  pointer-events: none;
  background-color: transparent;
}
.dice-tower._empty::before {
  content: "{сброс}";
}
.dice-tower._empty img {
  display: none;
}
.dice-tower._empty .dice-tower__text {
  display: none;
}

.dice-tower b {
  font-weight: 500;
  text-decoration: underline;
}

.dice-tower__text {
  display: block;
}

.dice-tower img {
  width: 10px;
  border-radius: 50%;
  background-color: var(--color-back);
  padding: 4px;
  display: block;
}

.add-buttons {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--color-back-second);
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
}

.add-buttons__button {
  padding: 5px 10px;
  background-color: var(--color-gray-100);
  border-radius: 5px;
  color: var(--color-black-100);
  font-size: 14px;
  flex-shrink: 0;
  min-width: 45px;
  touch-action: manipulation;
}

._empty {
  font-style: italic;
  color: var(--color-gray-200);
  touch-action: manipulation;
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: 600px) {
  .main {
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px dashed var(--color-gray-100);
  }

  .add-buttons {
    justify-content: center;
  }

  .add-buttons {
    overflow-x: auto;
  }
}
